@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
    font-family: "Merriweather", serif;
}

/* header style */
.header-section {
    width: 100%;
    height: 131px;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
}
.header-section h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 28px;
font-weight: 800;
margin-top: 50px;
margin-left: 150px;
}
.btn{
   background-color:white;
   margin-top: 38px;
   margin-bottom: 35px;
   margin-right: 160px;
   color: rgb(130, 133, 140);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
border-radius: 8px;
}
/* end header style */
/* start banner style */
.banner-cantainer{
    width: 100%;
    height: 652px;
    border: 2px solid red;
    background-image: url(../assets/Hero-bg.png);
    

}
.banner-content{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.image-section{
    margin-top: 26px;
}
.banner-title h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
margin-top: 20px;
text-align: center;
}
.banner-title p{
    color:gray;
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: center;
margin-top: 24px;
}
.btn-section button{
    padding: 16px;
    color:white;
 font-family: Azeret Mono;
 font-size: 20px;
 font-weight: 600;
 border-radius: 8px;
    background-color: black;
    margin-top: 32px;
    margin-bottom: 44px;
}
/* end banner style */
/* start development style */
.developer-container{
    width: 1140px;
    height: 1395px;
border: 2px solid red;
margin: 0 auto;
margin-top: 155px;
border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
}
.developer-title{
    width: 852px;
    margin: 0 auto;
}

.developer-title h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
text-align: center;
margin-top: 70px;
}
.developer-title p{
    color: rgb(130, 133, 140);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: center;
}
.developer-item-content{
    width: 946px;
height: 336px;
border: 2px solid red;
margin: 0 auto;
margin-bottom: 32px;


}
.developer-item-section{
width: 850px;
height: 240px;
border: 2px solid red;
display: flex;
margin: 0 auto;
margin-top: 48px;
justify-content: space-between;


}
.developer-item-title{
    display: flex;
    flex-direction: column;
    

}
.developer-item-title h2 {
    color:rgb(45, 46, 47);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
padding-top: 10px;

}
.developer-item-title p {
    color: rgb(130, 133, 140);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
}
.developer-image{  

}
.btn-section{
    width: 150px;
height: 48px;
}
.developer-second-title{
    padding-right: 100px;
}
.developer-second-title h1{
    color:rgb(45, 46, 47);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    padding-top: 10px;
}
.developer-second-title p{
    color: rgb(130, 133, 140);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
/* end development style */
/* start inspiration style */
.inspiration-container{
    width: 1140px;
height: 777px;
border: 2px solid red;
margin: 0 auto;
margin-top: 88px;
}
.Inspiration-header h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
text-align: center;
}
.Inspiration-header p{
    color: rgb(130, 133, 140);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: center;
margin-bottom: 80px;
}
.Inspiration-content{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
/* end inspiration style */